/**
 *
 * custom styling for chart morris
 *
 */

#morris-line-example,
#morris-bar-example,
#morris-area-with-dotted,
#morris-donut-example,
#morris-bar-stacked {
	height: 300px;
}

.line-chart li:first-child h5 {
	color: #ff8acc !important;
}

.line-chart li:last-child h5 {
	color: #5b69bc !important;
}

.bar-chart li:first-child h5 {
	color: #ff8acc !important;
}

.bar-chart li:nth-child(2) h5 {
	color: #5b69bc !important;
}

.bar-chart li:last-child h5 {
	color: #35b8e0 !important;
}

.bar-stacked li:first-child h5 {
	color: #71b6f9 !important;
}

.bar-stacked li:last-child h5 {
	color: #ebeff2 !important;
}

.area-chart li:first-child h5 {
	color: #5b69bc !important;
}

.area-chart li:last-child h5 {
	color: #35b8e0 !important;
}

.area-dotted li:first-child h5 {
	color: #5b69bc !important;
}

.area-dotted li:last-child h5 {
	color: #35b8e0 !important;
}

.donut-chart li:first-child h5 {
	color: #5b69bc !important;
}

.donut-chart li:nth-child(2) h5 {
	color: #35b8e0 !important;
}

.donut-chart li:last-child h5 {
	color: #ff8acc !important;
}