/**
 *
 * custom styling for dashboard page
 *
 */
#morris-bar-example,
#morris-line-example {
	height: 280px;
}

#morris-donut-example {
	height: 280px;
}

.inbox-widget.nicescroll,
.table-responsive {
	height: 315px;
}

.progress-bar {
	visibility: visible; animation-name: animationProgress;
}

.progress-bar-primary {
	width: 80%;
}

.progress-bar-pink {
	width: 50%;
}

.progress-bar-info {
	width: 70%;
}

.progress-bar-warning,
.progress-bar-danger {
	width: 65%;
}

.progress-bar-success {
	width: 40%;
}
