/**
 *
 * custom styling for ui components
 *
 */
 
.progress-bar-primary {
	width: 80%;
}

.progress-bar-pink {
	width: 50%;
}

.progress-bar-info {
	width: 70%;
}

.progress-bar-warning,
.progress-bar-danger {
	width: 65%;
}

.progress-bar-success {
	width: 40%;
}

.progress-bar-inverse {
	width: 95%;
}

.progress-bar-purple {
	width: 82%;
}