.logo a img {
	width: 36%;
    margin-top: 1px;
}
.footer-nav a {
	color: #fff;
}
.dwnl-txt {
	font-weight: 300;
    font-size: 21px;
    margin-bottom: 3px !important;
}
.line-shape {
	margin-left: calc(50% - 94px);
}

.line-shape {
    width: 186px;
    height: 2px;
    background-color: #fb397d;
    margin-top: 10px;
}
.welcom-cards {
	width: 73%;
    margin-top: 94px;
}
.off-partner {
	width: 73%;
}
.partner span {
	font-size: 20px;
    font-weight: 500;
    margin-left: 84px;
    color: #000;
    letter-spacing: 0.8px;
}