.card-wrap .card-body .card1 {
	padding: 0 10px;
    margin-bottom: 20px;
}

.custm_pos {
    position: absolute;
    margin-top: -127px;
    margin-left: 48px;
}

.card-details {
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    color: #ffffff;
}

.card_num {
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.fs-20 {
    font-size: 18px;
}

.exp_dt {
    position: absolute;
    margin-left: 150px;
    font-size: 10px;
    margin-bottom: 12px;
}

.cvv {
    font-size: 10px;
    margin-left: 86px;
    margin-bottom: 12px;
}

.fs-20 {
    font-size: 18px;
}

.card-info {
    background: #ffffff;
    border-radius: 10px;
    min-height: 150px;
    padding: 70px 0 12px 0px;
    margin-top: -70px;
}

.mb-30 {
    margin-bottom: 30px;
}