@font-face {
	font-family: "OCRAExtended";
	src: url("../fonts/card/OCRAExtended.eot");
	src: 
	url("../fonts/card/OCRAExtended.woff") format("woff"),
	url("../fonts/card/OCRAExtended.ttf") format("truetype"),
	url("../fonts/card/OCRAExtended.svg#filename") format("svg");
}

.logLogo {
	width: 36%;
}

.card-dtls {
	margin-top: -162px;
    padding: 0 16px;
    line-height: 2.3;
    color: #fff;
    letter-spacing: 1.3px;
	font-family: 'OCRAExtended', sans-serif;
}

.cvv {
	font-weight: 600;
    font-size: 13px;
    text-align: right;
    text-transform: uppercase;
    font-family: 'OCRAExtended', sans-serif;
}

.card-no {
	font-size: 22px;
    letter-spacing: 3.5px;
    font-family: 'OCRAExtended', sans-serif;
}

.valid {
	font-size: 12px;
    margin-left: 168px;
    text-transform: uppercase;
    font-family: 'OCRAExtended', sans-serif;
}

.hold_nme {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 600;
	font-family: 'OCRAExtended', sans-serif;
}

.card-txt {
	position: absolute;
    margin-top: -188px;
    padding: 0 18px;
    line-height: 2.3;
    color: #fff;
    letter-spacing: 1.3px;
}

.cvv {
	font-weight: 600;
    font-size: 13px;
    text-align: right;
    text-transform: uppercase;
    font-family: 'OCRAExtended', sans-serif;
}

.card-num {
	font-size: 24px;
	line-height: 2.5;
    letter-spacing: 3.5px;
    font-family: 'OCRAExtended', sans-serif;
}

.expDt {
	font-size: 12px;
    margin-left: 168px;
    line-height: 1.2;
    text-transform: uppercase;
    font-family: 'OCRAExtended', sans-serif;
}

.holdNme {
	text-transform: uppercase;
	font-size: 18px;
	line-height: 3;
	font-weight: 600;
	font-family: 'OCRAExtended', sans-serif;
}

.upper {
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 600;
	background: linear-gradient(to right, #ffe100, #ff8400);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}