/*Custom styles*/

body {
	background: #f8f8f8;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

section {
	padding: 50px 0;
}

/*.navbar {
	border-radius: 0;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	background-color: rgba(255,255,255,1);
}*/

.pricing_item {
	background: #FFFFFF;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.13);
    border-radius: 5px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.pricing_header {
	text-align: center;
    display: block;
    position: relative;
    padding-bottom: 10px;
}

.pricing_item .pricing_header .pricing_title {
	font-weight: 400;
	text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    color: #fff;
    position: absolute;
    width: 180px;
    height: 40px;
    line-height: 40px;
    left: 0px;
    right: 0px;
    margin: auto;
    top: -20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-image: linear-gradient(135deg, #3C96EE 0%, #604AE6 100%);
}

.pricing_item .pricing_body {
	margin-bottom: 40px;
}

.pricing_item .pricing_body .price_wrapper {
	text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    padding-top: 10px;
    background: #f6f6f6;
}

.pricing_item .pricing_body .price_wrapper .currency {
	height: 47px;
    font-weight: 600;
    font-size: 24px;
    color: #506CEA;
    position: relative;
    /*top: -15px;*/
}

.pricing_item .pricing_body .price_wrapper .price {
	font-weight: 700;
    font-size: 34px;
    color: #506CEA;
    letter-spacing: 2.12px;
}

.pricing_body ul {
	margin-bottom: 0px;
	padding-bottom: 20px;
	padding-inline-start: 36px;
	padding-inline-end: 25px;
}

.pricing_item .pricing_body .list li {
	text-align: justify;
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 14px;
    color: #CCDCEA;
    letter-spacing: 0.88px;
    text-decoration: line-through;
}

.pricing_item .pricing_body .list li.active {
	color: #3B566E;
    text-decoration: none;
}

#pills-tab {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-color: rgba(255,255,255,1);
}

.fig_wrapper {
    padding: 20px 0;
}

.fig_heading {
    padding: 10px 0;
    text-align: center;
    margin-bottom: 8px;
    /*text-transform: uppercase;*/
    letter-spacing: 0.7px;
}

.fig_heading .title {
    font-weight: 600;
}

#doc_required .fig_body li {
    line-height: 26px;
}

.menu {
    position: static;
    z-index: 99;
}

.menu.sticky {
    position: sticky;
    top: 0;
    z-index: 10000;
    width: 100%;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #ff0a00;
    background-color: transparent;
    border-bottom: 3px solid #007bff;
    font-weight: 600;
}

.nav-pills .nav-link {
    border-radius: 0;
    border-right: 1px solid #e5e5e5;
}

footer {
    position: absolute;
    bo/ttom: 0;
    width: 100%;
    padding: 10px 0;
}

footer .foot_img img {
    width: 50px;
}

.foot_img {
    text-align: right;
}

@media screen and (max-width: 425px) {
    .nav-link {
        padding: .3rem .3rem;
        font-size: 12px;
    }
}

@media screen and (max-width: 375px) {
    .nav-link {
        padding: .5rem .5rem;
        font-size: 12px;
    }
}

@media screen and (max-width: 320px) {
    .nav-link {
        padding: .3rem .3rem;
        font-size: 10px;
    }

    h5 {
        font-size: 1rem;
        font-weight: 600;
    }

    li, p {
        font-size: 13px;
    }
}