/*Responsive css*/
@media screen and (max-width: 768px) {
	.bannner {
		min-height: 350px;
	}

	.video_content {
		padding: 17px 3px;
	}

	.video_content h3 {
		font-size: 15px;
	}

	.video_play #promoVid {
		position: initial;
		width: 100%;
		height: auto;
	}
	body {
		overflow-x: hidden;
	}
	.navbar-brand img {
		position: absolute;
		width: 15%;
	}
	#top {
		z-index: 999;
	}

	.social_wrapper {
		padding: 0;
	}

	.social_links ul li img {
		width: 30%;
	}
	.home button {
		float: right;
	    margin-top: -66px;
	    margin-right: 58px;
	    padding: 8px 32px;
	}
}

@media screen and (max-width: 425px) {
	#tabDsip {
		display: none;
	}
	#mobDisp .video_play #promoVid {
		position: initial;
		height: auto;
	}
	.app_heading span {
		font-size: 26px;
	}
	.footer a {
		font-size: 10px;
	}
	.footer {
		text-align: center;
	}
	.getStarted_head span {
		font-size: 18px;
	}
	.singlOffrs_head span {
		font-size: 18px;
	}
	.cntct_hed span {
		font-size: 18px;
	}
	.contact_frm_hed h2 {
		font-size: 24px;
	}
	.contact_hed h2 {
		font-size: 24px;
	}
	.bannner {
		min-height: 226px;
		background-size: 100% 100%;
	}
	.home button {
		margin-top: -60px;
	    margin-right: 16px;
	    padding: 8px 14px;
	}
	.hero-btn {
		font-size: 11px;
	}
	.navbar-brand img {
		width: 27%;
	}
	.store-img {
		width: 100%;
	}
}

@media screen and (min-width: 426px) {
	#mobDisp {
		display: none;
	}
	.video_play iframe {
		width: 100%;
	}
}

@media screen and (max-width: 375px) {
	.bannner {
		min-height: 195px;
	}
	.navbar-brand img {
		width: 30%;
	}
	.home button {
		margin-top: -46px;
	    padding: 8px 12px;
	}
	.hero-btn {
		font-size: 10px;
	}
	.getStarted_head span {
		font-size: 15px;
	}
	.singlOffrs_head span {
		font-size: 15px;
	}
	.custm_btn {
		font-size: 11px;
		width: 145px;
	}
	.app_heading span {
		font-size: 22px;
	}
	.cntct_hed span {
		font-size: 15px;
	}
	.store-img {
		width: 100%;
	}
}

@media screen and (max-width: 320px) {
	.home button {
		margin-top: -42px;
    	padding: 6px 10px;
    	margin-right: 11px;
	}
	.bannner {
		min-height: 180px;
	}
	.getStarted_head span {
		font-size: 12px;
	}
	.video_content h3 {
		font-size: 14px;
		line-height: 1.4;
	}
	.singlOffrs_head span {
		font-size: 12px;
	}
	.cntct_hed span {
		font-size: 12px;
	}
	.app_heading span {
		font-size: 18px;
	}
	.singl_contac a {
		font-size: 12px;
	}
	em {
		font-size: 10px;
	}
	.store-img {
		width: 100%;
	}
}