
<!DOCTYPE html>
<html>
<head>
	<title>E-wire | Bill Payment</title>
</head>
<body>
	<div style="background-color:#d6d6d5;margin:0;min-width:100%;padding:0;width:100%">
		<table width="100%" border="0" cellpadding="0" cellspacing="0" style="background-color:#d6d6d5;border:none;border-collapse:collapse;border-spacing:0;width:100%" bgcolor="#d6d6d5">
			<tbody>
				<tr>
					<td align="center">
						<table width="100%" border="0" cellpadding="0" cellspacing="0" style="border:none;border-collapse:collapse;border-spacing:0;max-width:700px;width:100%">
							<tbody>
								<tr>
									<td style="background-color:#ffffff" align="center">
										<table width="100%" border="0" cellpadding="0" cellspacing="0" style="border:none;border-collapse:collapse;border-spacing:0;margin:auto;max-width:700px;width:100%">
											<tbody>
												<tr>
													<td align="center">
														<table width="100%" border="0" cellpadding="0" cellspacing="0" style="background-color:#ffffff;border:none;border-collapse:collapse;border-spacing:0;margin:auto;width:100%" bgcolor="#ffffff">
															<tbody>
																<tr>
																	<td align="center">
																		<table width="100%" border="0" cellpadding="0" cellspacing="0" style="border:none;border-collapse:collapse;border-spacing:0;width:100%">
																			<tbody>
																				<tr>
																					<td align="center" style="background-color:#ffffff">
																						<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border:none;border-collapse:collapse;border-spacing:0;width:100%">
																							<tbody>
																								<tr>
																									<td>
																										<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border:none;border-collapse:collapse;border-spacing:0;width:100%">
																											<tbody>
																												<tr>
																													<td bgcolor="#ffffff">
																														<table width="100%" border="0" cellpadding="0" cellspacing="0" style="border:none;border-collapse:collapse;border-spacing:0;width:100%">
																															<tbody>
																																<tr>
																																	<td align="left" style="direction:ltr;text-align:left">
																																		<table border="0" cellpadding="0" cellspacing="0" style="border:none;border-collapse:collapse;border-spacing:0;width:100%">
																																			<tbody>
																																				<tr>
																																					<td bgcolor="#C6DAFF" style="direction:ltr;text-align:left">
																																						<table width="100%" border="0" cellpadding="0" cellspacing="0" style="border:none;border-collapse:collapse;border-spacing:0;width:100%">
																																							<tbody>
																																								<tr>
																																									<td width="14" style="direction:ltr;text-align:left">&nbsp;</td>
																																									<td align="left" style="direction:ltr;text-align:left">
																																										<table border="0" cellpadding="0" cellspacing="0" style="border:none;border-collapse:collapse;border-spacing:0;width:100%">
																																											<tbody>
																																												<tr>
																																													<td align="center">
																																														<table border="0" cellpadding="0" cellspacing="0" align="center" style="border:none;border-collapse:collapse;border-spacing:0;max-width:616px;width:100%">
																																															<tbody>
																																																<tr>
																																																	<td align="center" style="font-size:1px;height:1px;line-height:1px;padding-left:0px!important;padding-right:0px!important">
																																																		<table border="0" cellpadding="0" cellspacing="0" align="center" style="border:none;border-collapse:collapse;border-spacing:0;max-width:560px;width:100%">
																																																			<tbody>
																																																				<tr>
																																																					<td width="12" style="font-size:1px;height:1px;line-height:1px;padding-left:0px!important;padding-right:0px!important;direction:ltr;text-align:left">&nbsp;</td>
																																																					<td style="font-size:1px;height:1px;line-height:1px;padding-left:0px!important;padding-right:0px!important;direction:ltr;text-align:left">
																																																						<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left" style="border:none;border-collapse:collapse;border-spacing:0;table-layout:fixed;width:100%">
																																																						<tbody>
																																																							<tr>
																																																								<td style="direction:ltr;text-align:left">
																																																									<table width="100%" border="0" cellpadding="0" cellspacing="0" style="border:none;border-collapse:collapse;border-spacing:0;width:100%">
																																																										<tbody>
																																																											<tr>
																																																												<td align="left" style="padding-top:45px;padding-bottom:40px;direction:ltr;text-align:left" valign="middle">
																																																													<table border="0" cellpadding="0" cellspacing="0" style="border:none;border-collapse:collapse;border-spacing:0;width:100%">
																																																														<tbody>
																																																															<tr>
																																																																<td class="" valign="top" align="left" style="color:rgb(0,0,0);font-family:'HelveticaNeue-Light','Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:30px;line-height:30px;padding-right:12px;padding-top:5px;direction:ltr;text-align:left">
																																																																	<img src="cid:logo" border="0" style="clear:both;display:block;width:100%;height:auto;outline:none;text-decoration:none">
																																																																</td>
																																																																<td class="" width="80%" align="right" style="color:rgb(0,0,0);font-family:'HelveticaNeue-Light','Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:12px;line-height:18px;text-align:right;direction:ltr" valign="middle">
																																																																	<span style="color:#000000;font-family:'HelveticaNeue-Light','Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:12px;line-height:15px"> ${transaction.created} </span><br/>
																																																																	
																																																																</td>
																																																															</tr>
																																																														</tbody>
																																																													</table>
																																																												</td>
																																																											</tr>
																																																										</tbody>
																																																									</table>
																																																								</td>
																																																							</tr>
																																																						</tbody>
																																																					</table>
																																																				</td>
																																																				<td width="12" style="font-size:1px;height:1px;line-height:1px;padding-left:0px!important;padding-right:0px!important;direction:ltr;text-align:left">&nbsp;</td>
																																																			</tr>
																																																		</tbody>
																																																	</table>
																																																</td>
																																															</tr>
																																														</tbody>
																																													</table>
																																												</td>
																																											</tr>
																																										</tbody>
																																									</table>
																																								</td>
																																								<td width="14" style="direction:ltr;text-align:left">&nbsp;</td>
																																							</tr>
																																						</tbody>
																																					</table>
																																				</td>
																																			</tr>
																																		</tbody>
																																	</table>
																																</td>
																															</tr>
																														</tbody>
																													</table>
																													<table width="100%" border="0" cellpadding="0" cellspacing="0" style="border:none;border-collapse:collapse;border-spacing:0;width:100%">
																														<tbody>
																															<tr>
																																<td align="left" style="direction:ltr;text-align:left">
																																	<table border="0" cellpadding="0" cellspacing="0" style="border:none;border-collapse:collapse;border-spacing:0;width:100%">
																																		<tbody>
																																			<tr>
																																				<td background="bg.png" bgcolor="#C6DAFF" width="700" valign="top" style="background-repeat:no-repeat;background-position:right bottom;direction:ltr;text-align:left">
																																					<div>
																																						<div style="font-size:0;line-height:0">
																																							<table width="100%" border="0" cellpadding="0" cellspacing="0" style="border:none;border-collapse:collapse;border-spacing:0;width:100%">
																																								<tbody>
																																									<tr>
																																										<td width="14" style="direction:ltr;text-align:left">&nbsp;</td>
																																										<td align="left" style="direction:ltr;text-align:left">
																																											<table border="0" cellpadding="0" cellspacing="0" style="border:none;border-collapse:collapse;border-spacing:0;width:100%">
																																												<tbody>
																																													<tr>
																																														<td align="center">
																																															<table border="0" cellpadding="0" cellspacing="0" align="center" style="border:none;border-collapse:collapse;border-spacing:0;max-width:616px;width:100%">
																																																<tbody>
																																																	<tr>
																																																		<td align="center" style="font-size:1px;height:1px;line-height:1px;padding-left:0px!important;padding-right:0px!important">
																																																			<table border="0" cellpadding="0" cellspacing="0" align="center" style="border:none;border-collapse:collapse;border-spacing:0;max-width:560px;width:100%">
																																																				<tbody>
																																																					<tr>
																																																						<td width="12" style="font-size:1px;height:1px;line-height:1px;padding-left:0px!important;padding-right:0px!important;direction:ltr;text-align:left">&nbsp;</td>
																																																						<td style="font-size:1px;height:1px;line-height:1px;padding-left:0px!important;padding-right:0px!important;direction:ltr;text-align:left">
																																																							<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left" style="border:none;border-collapse:collapse;border-spacing:0;table-layout:fixed;width:100%">
																																																								<tbody>
																																																									<tr>
																																																										<td style="direction:ltr;text-align:left"><table width="100%" border="0" cellpadding="0" cellspacing="0" style="border:none;border-collapse:collapse;border-spacing:0;width:100%">
																																																											<tbody>
																																																												<tr>
																																																													<td align="left" style="font-size:0px;direction:ltr;text-align:left">
																																																														<table border="0" cellpadding="0" cellspacing="0" style="border:none;border-collapse:collapse;border-spacing:0;display:inline-block;max-width:392px;vertical-align:bottom;width:100%">
																																																															<tbody>
																																																																<tr>
																																																																	<td style="font-size:1px;height:1px;line-height:1px;padding-left:0px!important;padding-right:0px!important;direction:ltr;text-align:left">
																																																																		<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left" style="border:none;border-collapse:collapse;border-spacing:0;table-layout:fixed;width:100%">
																																																																			<tbody>
																																																																				<tr>
																																																																					<td style="color:rgb(0,0,0);font-family:Helvetica,Arial,sans-serif;font-size:34px;line-height:38px;padding-bottom:13px;direction:ltr;text-align:left"> Recharge Successful </td>
																																																																				</tr>
																																																																				<tr>
																																																																					<td style="color:rgb(0,0,0);font-family:'HelveticaNeue-Light','Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:16px;line-height:28px;direction:ltr;text-align:left">
																																																																						<table border="0" cellpadding="0" cellspacing="0" align="left" style="border:none;border-collapse:collapse;border-spacing:0;max-width:308px;width:100%">
																																																																							<tbody>
																																																																								<tr>
																																																																									<td style="font-size:1px;height:1px;line-height:1px;padding-left:0px!important;padding-right:0px!important;direction:ltr;text-align:left">
																																																																										<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left" style="border:none;border-collapse:collapse;border-spacing:0;table-layout:fixed;width:100%">
																																																																											<tbody>
																																																																												<tr>
																																																																													<td style="color:rgb(0,0,0);font-family:'HelveticaNeue-Light','Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:20px;line-height:26px;padding-bottom:40px;direction:ltr;text-align:left"> ${user.userDetail.firstName}, We hope you had a smooth and rewarding experience. </td>
																																																																												</tr>
																																																																											</tbody>
																																																																										</table>
																																																																									</td>
																																																																								</tr>
																																																																							</tbody>
																																																																						</table>
																																																																					</td>
																																																																				</tr>
																																																																			</tbody>
																																																																		</table>
																																																																	</td>
																																																																</tr>
																																																															</tbody>
																																																														</table>
																																																														<table border="0" cellpadding="0" cellspacing="0" style="border:none;border-collapse:collapse;border-spacing:0;display:inline-block;max-width:144px;vertical-align:bottom;width:100%">
																																																															<tbody>
																																																																<tr>
																																																																	<td style="font-size:1px;height:1px;line-height:1px;padding-left:0px!important;padding-right:0px!important;direction:ltr;text-align:left">
																																																																		<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left" style="border:none;border-collapse:collapse;border-spacing:0;table-layout:fixed;width:100%">
																																																																			<tbody>
																																																																				<tr>
																																																																					<td style="padding-top:0px;direction:ltr;text-align:left">
																																																																						<img src="cid:billpay" width="144" height="" border="0" style="clear:both;display:block;height:auto;margin:0 0 0 auto;max-height:144px;max-width:144px;outline:none;text-decoration:none;width:100%">
																																																																					</td>
																																																																				</tr>
																																																																			</tbody>
																																																																		</table>
																																																																	</td>
																																																																</tr>
																																																															</tbody>
																																																														</table>
																																																													</td>
																																																												</tr>
																																																											</tbody>
																																																										</table>
																																																									</td>
																																																								</tr>
																																																							</tbody>
																																																						</table>
																																																					</td>
																																																					<td width="12" style="font-size:1px;height:1px;line-height:1px;padding-left:0px!important;padding-right:0px!important;direction:ltr;text-align:left">&nbsp;</td>
																																																				</tr>
																																																			</tbody>
																																																		</table>
																																																	</td>
																																																</tr>
																																															</tbody>
																																														</table>
																																													</td>
																																												</tr>
																																											</tbody>
																																										</table>
																																									</td>
																																									<td width="14" style="direction:ltr;text-align:left">&nbsp;</td>
																																								</tr>
																																							</tbody>
																																						</table>
																																					</div>
																																				</div>
																																			</td>
																																		</tr>
																																	</tbody>
																																</table>
																															</td>
																														</tr>
																													</tbody>
																												</table>
																												<table width="100%" border="0" cellpadding="0" cellspacing="0" style="border:none;border-collapse:collapse;border-spacing:0;width:100%">
																													<tbody>
																														<tr>
																															<td align="center">
																																<table border="0" cellpadding="0" cellspacing="0" style="border:none;border-collapse:collapse;border-spacing:0;width:100%">
																																	<tbody>
																																		<tr>
																																			<td align="center">
																																				<table width="100%" border="0" cellpadding="0" cellspacing="0" style="border:none;border-collapse:collapse;border-spacing:0;max-width:648px;width:100%" bgcolor="#ffffff">
																																					<tbody>
																																						<tr>
																																							<td align="left" bgcolor="#ffffff" style="padding:45px 14px 0px 14px;direction:ltr;text-align:left">
																																								<table border="0" cellpadding="0" cellspacing="0" style="border:none;border-collapse:collapse;border-spacing:0;width:100%">
																																									<tbody>
																																										<tr>
																																											<td align="center">
																																												<table border="0" cellpadding="0" cellspacing="0" style="border:none;border-collapse:collapse;border-spacing:0;max-width:560px;width:100%">
																																													<tbody>
																																														<tr>
																																															<td style="padding-left:0px;padding-right:0px">
																																																<table width="100%" border="0" cellpadding="0" cellspacing="0" style="border:none;border-collapse:collapse;border-spacing:0;width:100%">
																																																	<tbody>
																																																		<tr>
																																																			<td align="left" style="padding-left:12px;padding-right:12px">
																																																				<table border="0" cellpadding="0" cellspacing="0" style="border:none;border-collapse:collapse;border-spacing:0;width:100%">
																																																					<tbody>
																																																						<tr>
																																																							<td valign="top" align="left" style="color:rgb(0,0,0);font-family:Helvetica,Arial,sans-serif;font-size:44px;line-height:44px;padding-right:12px;direction:ltr;text-align:left"> Total </td>
																																																							<td valign="top" align="right" style="color:rgb(0,0,0);font-family:Helvetica,Arial,sans-serif;font-size:44px;line-height:44px;text-align:right;direction:ltr"> ₹${transaction.amount} </td>
																																																						</tr>
																																																					</tbody>
																																																				</table>
																																																			</td>
																																																		</tr>
																																																	</tbody>
																																																</table>
																																																<table width="100%" border="0" cellpadding="0" cellspacing="0" style="border:none;border-collapse:collapse;border-spacing:0;width:100%">
																																																	<tbody>
																																																		<tr>
																																																			<td align="left" style="padding-left:12px;padding-right:12px"></td>
																																																		</tr>
																																																	</tbody>
																																																</table>
																																																<table width="100%" border="0" cellpadding="0" cellspacing="0" style="border:none;border-collapse:collapse;border-spacing:0;width:100%">
																																																	<tbody>
																																																		<tr>
																																																			<td align="left" style="padding-left:12px;padding-right:12px">
																																																				<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border:none;border-collapse:collapse;border-spacing:0;width:100%">
																																																					<tbody>
																																																						<tr>
																																																							<td style="padding-top:26px;padding-bottom:26px">
																																																								<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left" style="border:none;border-collapse:collapse;border-spacing:0;table-layout:fixed;width:100%">
																																																									<tbody>
																																																										<tr>
																																																											<td valign="top" align="left" style="font-size:1px;line-height:1px;background-color:#009eb7"> &nbsp; </td>
																																																										</tr>
																																																									</tbody>
																																																								</table>
																																																							</td>
																																																						</tr>
																																																					</tbody>
																																																				</table>
																																																			</td>
																																																		</tr>
																																																	</tbody>
																																																</table>
																																																<table width="100%" border="0" cellpadding="0" cellspacing="0" style="border:none;border-collapse:collapse;border-spacing:0;width:100%">
																																																	<tbody>
																																																		<tr>
																																																			<td align="left" style="padding-left:12px;padding-right:12px">
																																																				<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border:none;border-collapse:collapse;border-spacing:0;width:100%">
																																																					<tbody>
																																																						<tr>
																																																							<td valign="top" align="left" style="color:rgb(0,0,0);font-family:'HelveticaNeue-Light','Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:16px;line-height:28px;padding-bottom:5px;padding-right:12px;padding-top:5px;direction:ltr;text-align:left"> Account ID </td>
																																																							<td valign="top" align="right" style="color:rgb(0,0,0);font-family:'HelveticaNeue-Light','Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:16px;line-height:28px;padding-bottom:5px;padding-right:0px;padding-top:5px;text-align:right;direction:ltr"> ${transaction.account.accountNumber} </td>
																																																						</tr>
																																																					</tbody>
																																																				</table>
																																																				<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border:none;border-collapse:collapse;border-spacing:0;width:100%">
																																																					<tbody>
																																																						<tr>
																																																							<td style="padding-top:26px;padding-bottom:26px">
																																																								<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left" style="border:none;border-collapse:collapse;border-spacing:0;table-layout:fixed;width:100%">
																																																									<tbody>
																																																										<tr>
																																																											<td valign="top" align="left" style="font-size:1px;line-height:1px;background-color:#bdbdbd"> &nbsp; </td>
																																																										</tr>
																																																									</tbody>
																																																								</table>
																																																							</td>
																																																						</tr>
																																																					</tbody>
																																																				</table>
																																																				<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border:none;border-collapse:collapse;border-spacing:0;width:100%">
																																																					<tbody>
																																																						<tr>
																																																							<td valign="top" align="left" style="color:#929292;font-family:'HelveticaNeue-Light','Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:15px;line-height:28px;padding-bottom:5px;padding-right:12px;padding-top:5px;direction:ltr;text-align:left"> Description </td>
																																																							<td valign="top" align="right" style="color:#929292;font-family:'HelveticaNeue-Light','Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:15px;line-height:28px;padding-bottom:5px;padding-top:5px;text-align:right;direction:ltr"> ${transaction.description} </td>
																																																						</tr>
																																																					</tbody>
																																																				</table>
																																																				<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border:none;border-collapse:collapse;border-spacing:0;width:100%">
																																																					<tbody>
																																																						<tr>
																																																							<td valign="top" align="left" style="color:#929292;font-family:'HelveticaNeue-Light','Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:15px;line-height:28px;padding-bottom:5px;padding-right:12px;padding-top:5px;direction:ltr;text-align:left"> Order ID </td>
																																																							<td valign="top" align="right" style="color:#929292;font-family:'HelveticaNeue-Light','Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:15px;line-height:28px;padding-bottom:5px;padding-right:0px;padding-top:5px;text-align:right;direction:ltr;text-transform: uppercase;"> ${transaction.transactionRefNo} </td>
																																																						</tr>
																																																					</tbody>
																																																				</table>																																																				
																																																			</td>
																																																		</tr>
																																																	</tbody>
																																																</table>
																																															<table width="100%" border="0" cellpadding="0" cellspacing="0" style="border-spacing:0;border-collapse:collapse;width:100%;border:none">
																																																<tbody>
																																																	<tr>
																																																		<td style="line-height:1px;font-size:1px;color:#ffffff">  </td>
																																																	</tr>
																																																	<tr>
																																																		<td style="line-height:1px;font-size:1px;color:#ffffff">  </td>
																																																	</tr>
																																																</tbody>
																																															</table>
																																															<table border="0" cellpadding="0" cellspacing="0" style="border:none;border-collapse:collapse;border-spacing:0;width:100%" width="100%">
																																																<tbody>
																																																	<tr>
																																																		<td style="font-size:1px;line-height:1px;padding-bottom:40px">&nbsp;</td>
																																																	</tr>
																																																</tbody>
																																															</table>
																																														</td>
																																													</tr>
																																												</tbody>
																																											</table>
																																										</td>
																																									</tr>
																																								</tbody>
																																							</table>
																																						</td>
																																					</tr>
																																				</tbody>
																																			</table>
																																		</td>
																																	</tr>
																																</tbody>
																															</table>
																														</td>
																													</tr>
																												</tbody>
																											</table>
																															
																							<table width="100%" border="0" cellpadding="0" cellspacing="0" style="border:none;border-collapse:collapse;border-spacing:0;width:100%">
																								<tbody>
																									<tr>
																										<td align="center" style="padding-left:26px;padding-right:26px">
																											<table border="0" cellpadding="0" cellspacing="0" style="border:none;border-collapse:collapse;border-spacing:0;max-width:648px;width:100%">
																												<tbody>
																													<tr>
																														<td style="padding-bottom:30px;padding-left:0px;padding-right:0px;direction:ltr;text-align:left">
																															<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left" style="border:none;border-collapse:collapse;border-spacing:0;table-layout:fixed;width:100%">
																																<tbody>
																																	<tr>
																																		<td style="background-color:#f1f1f1;color:#000000;font-family:'HelveticaNeue-Light','Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:16px;line-height:28px" align="center">
																																			<table border="0" cellpadding="0" cellspacing="0" style="border:none;border-collapse:collapse;border-spacing:0;max-width:584px;width:100%">
																																				<tbody>
																																					<tr>
																																						<td style="padding:25px 12px 25px 12px;direction:ltr;text-align:left">
																																							<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left" style="border:none;border-collapse:collapse;border-spacing:0;table-layout:auto;width:100%">
																																								<tbody>
																																									<tr>
																																										<td style="direction:ltr;text-align:left">
																																											<!-- <table border="0" cellpadding="0" cellspacing="0" style="border:none;border-collapse:collapse;border-spacing:0;display:inline-block;max-width:115px;vertical-align:middle;width:100%">
																																												<tbody>
																																													<tr>
																																														<td style="padding:15px 12px 15px 12px;direction:ltr;text-align:left">
																																															<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left" style="border:none;border-collapse:collapse;border-spacing:0;table-layout:fixed;width:100%">
																																																<tbody>
																																																	<tr>
																																																		<td style="direction:ltr;text-align:left">
																																																			<img src="invite.png" width="88" height="" border="0" style="clear:both;display:block;height:auto;max-height:88px;max-width:88px;outline:none;text-decoration:none;width:100%">
																																																		</td>
																																																	</tr>
																																																</tbody>
																																															</table>
																																														</td>
																																													</tr>
																																												</tbody>
																																											</table> -->
																																											<table border="0" cellpadding="0" cellspacing="0" style="border:none;border-collapse:collapse;border-spacing:0;display:inline-block;vertical-align:middle;width:100%">
																																												<tbody>
																																													<tr>
																																														<td style="padding:10px 10px 10px 10px;direction:ltr;text-align:left">
																																															<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left" style="border:none;border-collapse:collapse;border-spacing:0;table-layout:auto;width:100%">
																																																<tbody>
																																																	<tr>
																																																		<td align="left" style="color:rgb(0,0,0);font-family:'HelveticaNeue-Light','Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:18px;line-height:28px;padding-bottom:6px;direction:ltr;text-align:left"> Is there anything you want to share with us? </td>
																																																	</tr>
																																																	<tr>
																																																		<td align="left" style="color:rgb(0,0,0);font-family:'HelveticaNeue-Light','Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:14px;line-height:28px;direction:ltr;text-align:left"> Feedback, comments, suggestions or compliments - do write to service@liveewire.com</span></td>
																																																	</tr>
																																																</tbody>
																																															</table>
																																														</td>
																																													</tr>
																																												</tbody>
																																											</table>
																																										</td>
																																									</tr>
																																								</tbody>
																																							</table>
																																						</td>
																																					</tr>
																																				</tbody>
																																			</table>
																																		</td>
																																	</tr>
																																</tbody>
																															</table>
																														</td>
																													</tr>
																												</tbody>
																											</table>
																										</td>
																									</tr>
																								</tbody>
																							</table>
																							<table width="100%" border="0" cellpadding="0" cellspacing="0" style="border:none;border-collapse:collapse;border-spacing:0;width:100%">
																								<tbody>
																									<tr>
																										<td align="left" style="background-color:rgb(39,110,241);padding-top:15px;padding-bottom:15px;direction:ltr;text-align:left">
																											<table border="0" cellpadding="0" cellspacing="0" style="border:none;border-collapse:collapse;border-spacing:0;width:100%">
																												<tbody>
																													<tr>
																														<td style="direction:ltr;text-align:left">
																															<table width="100%" border="0" cellpadding="0" cellspacing="0" style="border: none; border-collapse: collapse;border-spacing: 0;width: 100%;">
																																<tbody>
																																	<tr>
																																		<td style="color:#ffffff;font-family:'HelveticaNeue-Light','Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:10px;padding:6px 20px;text-align:center;">
																																			<span>Disclaimer: Please do not share your Ewire Wallet password, Credit/Debit card PIN, CVV & any other confidential information with anyone even if he/she claims to be from Ewire. We advise our customers to completely ignore such communications.</span>
																																		</td>
																																	</tr>
																																</tbody>
																															</table>
																														</td>
																													</tr>
																												</tbody>
																											</table>
																										</td>
																									</tr>
																								</tbody>
																							</table>
																						</td>
																					</tr>
																				</tbody>
																			</table>
																		</td>
																	</tr>
																</tbody>
															</table>
														</td>
													</tr>
												</tbody>
											</table>
										</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</td>
	</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</body>
</html>