<!DOCTYPE html>
<html>
<head>
<title>Bus Ticket </title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div style=" width: 500px; border: solid 1px #dedede; font-family: sans-serif;">
	<div style="padding: 15px 18px 2px;"><div style="float: left;width: 70%;"><img src="cid:vpaylogo" alt="EWire" style="margin-left: 10px;"><hr style="margin-top: auto;margin-bottom: auto; width: 90%; margin-left: inherit; border: solid 1px #d4d4d4;"><spa style="margin-left: 10px;">Bus Ticket</span></div><div style="margin-top: 10px;"><i class="fa fa-volume-control-phone fa-2x" style="float: left; color:#0abbc7; -webkit-transform: rotate(-44deg); transform: rotate(-44deg); -ms-transform: rotate(-44deg);"></i> <div style="margin-left: 10px"><span>080 2501 1300</span><br><span><small>24X7 Helpline</small></span></div></div><br></div>
	
    
    <hr style="margin-top: auto;margin-bottom: auto;  border: solid 1px #e8e8e8;">
    
    <div style="padding: 20px; height: 30px;"><div style="float: left;"><span style="color: #0abbc7;">Ticket PNR</span> <br><span style="font-size: 12px;">${info.ticketPnr}</span></div><div style="float: left; margin-left: 26%;"><span style="color: #0abbc7;">Operator PNR</span> <br><span style="font-size: 12px;">${info.operatorPnr}</span></div><div style=" float: right;"><span style="color: #0abbc7;">Order ID</span> <br><span style="font-size: 12px;">${transaction.transactionRefNo}</span></div></div>
    
    
    <div style="background: #fbfbfb; padding: 20px;">
    	<div><img src="cid:pointlogo" alt="" style="width: 40px;float: left; margin-right: 13px;"> 
    	<div><h5 style=" margin-bottom: auto; margin-top: 3px; color: #0abbc7;"><b>Boarding Point</b></h5>
        <span style="font-size: 12px;">${info.boardingAddress}</span><br>
          <span style="font-size: 12px;">${info.boardTime}</span>
        </div></div><br>
        
        <div><img src="cid:buslogo" alt=" " style="width: 40px;float: left; margin-right: 13px; margin-top: 6px;"> 
    	<div><h5 style=" margin-bottom: auto; margin-top: 3px; color: #0abbc7;"><b>Bus Operator Name</b><br></h5>
        <span style="font-size: 12px;">${info.busOperator}</span></div></div>
    </div>    

    <div style="background: #0abbc7; color: white;height: 81px;padding: 21px;">
    <div style="float: left;"><span>Source</span><br>
    <span><b>${info.source}</b></span><br>
    <span>${info.deptTime}</span><br>
    <span><small>${info.journeyDate}</small></span></div>

	<img src="cid:buslogo1" alt=" " style="width: 99px; margin-left: 65px; margin-top: 28px;">

	<div style="float: right;text-align: right;">
    <span>Destination</span><br>
    <span><b>${info.destination}</b></span><br>
    <span>${info.arrTime}</span><br>
    <span><small></small></span></div>   
    </div>
    
    <div style="padding: 21px;background: #fbfbfb;">
    	<h5 style=" margin-bottom: auto; margin-top: 3px;color: cadetblue;">TRAVELLER DETAILS</h5>
     </div>
        <table style="padding: 0px 26px;">
        	<tr>
            	<td style="width: 50%; font-weight: 600; color: #929292;">Name</td>
                <td  style="width: 35%; font-weight: 600; color: #929292;">fare</td>
                <td style="font-weight: 600; color: #929292;">Seat No</td>
            </tr>
            
         #foreach ($foo in $info.travellerList)
   				 <tr>
            	<td>$foo.fName</td>
                <td>$foo.fare</td>
                <td>$foo.seatNo</td>
            </tr>
           
		#end
        </table>
        
         <div style="padding: 21px;background: #fbfbfb;">
    	<h5 style=" margin-bottom: auto; margin-top: 3px;color: cadetblue;">FARE & PAYMENT DETAILS</h5>
     	</div>
       <div style="width: 200px;float: left; margin-left: 25px;"><h5 style="margin-bottom: auto; margin-top: auto;">Grand Total</h5>       
       </div>
       
       <div style="text-align: right; margin-right: 25px; margin-bottom: 13px;"><h4 style="margin-bottom: auto; margin-top: auto;"><i class="fa fa-inr" aria-hidden="true"></i> <span>${info.totalFare}</span></h4>      
       </div>
    </div> 
</div>

</body>
</html>
