/*Custom css starts here*/

body {
	background: url(../img/sample.png) no-repeat;
	background-position: center;
}

#home-wrapper header {
	padding: 20px 0 20px 0;
}

.roundHead .top-logo img {
	width: 450px;
}
.info-logo{
	    margin-bottom: 5%;
}
@media screen and (max-width: 425px) {
	.countdown {
		width: 180px;
	}
	.countdown .dash:before, .countdown .dash:after {
		width: 40%;
		left: -50%;
	}
	.countdown .dash:after {
		left: 100%;
	}
}

.roundHead {
	z-index: 999;
	position: relative;
}
.roundHead .top-logo img {
	/*position: absolute;*/
	    margin-top: -414px;
    /*margin-left: 714px;*/
}

@media (min-width: 768px) {
	#header .countdown {
		font: 600 7rem/3rem 'Century Gothic', sans-serif;
	}
}
@media (min-width: 992px) {
	#header .header-content {
		padding-bottom: 3rem;
	}
}

#header .countdown {
	margin-bottom: 2.5rem;
    color: #fff;
    font: 600 7rem/3rem 'Century Gothic', sans-serif;
}

/*Counter*/
#header .header-content {
	margin-top: 34%;
    margin-left: -1%;
}

#header .countdown {
	margin-bottom: 2.5rem;
	color: #fff;
	font: 8rem/3rem 'Century Gothic', sans-serif;
}

#header .countdown #clock .counter-number {
	display: inline-block;
	margin-top: 1rem;
	margin-right: 1rem;
	margin-left: 1rem;
	padding: 3.8rem 2.8rem 1rem 2.8rem;
	border-radius: 8px;
	background-color: rgba(255, 255, 255, 0.2);
	font-weight: 900;
}

#header .countdown #clock .separator {
	margin-top: 2rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	display: inline-block;
	height: 2rem;
	vertical-align: top;
}

#header .countdown #clock .timer-text {
	font: 100 1.5rem/2rem 'Century Gothic', sans-serif;
	text-align: center;
	margin-top: 1rem;
}

#header h1 {
	margin-bottom: 0.75rem;
	font-size: 36px;
}

#header .p-under-header {
	margin-bottom: 1.5rem;
}

#header .list-unstyled {
	margin-bottom: 1.75rem;
}

#header .list-unstyled .fa {
	margin-right: 0.5rem;
	margin-left: 0.75rem;
}

.overlay_black{

  	background: #000000d9; /* Chrome 10+, Saf5.1+ */
}
.overlay_black{
	position:fixed;
	display:block;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	opacity:0.5;
	z-index:2;
	transition:opacity 1s ease;
	-webkit-transition:opacity 1s ease;
}
#info-wrapper .close-link {
	float: right;
	z-index: 999;
	position: fixed;
}
#info-wrapper .about {
	margin: 30px 0 50px 0;
}
.about .team-headings h3 {
	text-transform: uppercase;
	color: #000;
	font-weight: 300;
	font-size: 3.2rem;
	margin-bottom: 2px;
}
.about .team-headings h2 {
	text-transform: uppercase;
	font-weight: 900;
	font-size: 6rem;
	margin-top: 0;
}

.mt-50 {
	margin-top: 50px;
}
.mt-70 {
	margin-top: 70px;
}
.mb-25 {
	margin-bottom: 25px;
}
.btn-participate .btn-primary {
	text-transform: uppercase;
	border-radius: 5px;
	width: 80%;
	font-weight:600;
	font-size: 18px;
	background: -webkit-linear-gradient(60deg, #ef1821 10%, #291859 90%); /* Chrome 10+, Saf5.1+ */
  	background:    -moz-linear-gradient(60deg, #ef1821 10%, #291859 90%); /* FF3.6+ */
  	background:     -ms-linear-gradient(60deg, #ef1821 10%, #291859 90%); /* IE10 */
 	background:      -o-linear-gradient(60deg, #ef1821 10%, #291859 90%); /* Opera 11.10+ */
  	background:         linear-gradient(60deg, #ef1821 10%, #291859 90%); /* W3C */
  	border: none;
  	padding: 10px 12px;
  	fl/oat: left;
	margin-top: 4%;
}
.roundHead .terms_privacy {
	position: absolute;
    padding: 5px 30px;
    text-transform: uppercase;
    right: 0;
}
.roundHead .terms_privacy span a {
	text-decoration: none;
    color: #000;
    letter-spacing: 1px;
    font-size: 12px;
}
.roundHead .terms_privacy span a:hover {
	text-decoration: underline;
}
.official img {
	position: absolute;
    width: 7%;
        margin-top: -28%;
    margin-left: 2%;
}

/*Media Queries*/

@media screen and (width: 1920px) {
	.roundHead .top-logo img {
	    width: 800px;
	    margin-top: -22%;
	}
	#header .header-content {
		margin-top: 50%;
    	margin-left: -3rem;
	}
	.official img {
		    margin-top: -27%;
    margin-left: 2%;
	}
}
@media screen and (width: 2560px) {
	.roundHead .top-logo img {
	    width: 800px;
	    margin-top: -22%;
	}
	#header .header-content {
		margin-top: 84%;
    	margin-left: -3rem;
	}
}

@media screen and (max-width: 1440px) {
	.roundHead .top-logo img {
		/*    position: absolute;*/
    margin-top: -328px;
   /* margin-left: 494px;*/
	}
}

@media screen and (max-width: 1024px) {
	.roundHead .top-logo img {
		width: 374px;
		margin-top: -237px;
    	/*margin-left: 346px;*/
	}
	#header .header-content {
		margin-top: 394px;
	}
	.home .info-link {
		margin-top: 100px;
	}
	.info-container .close-link, .info-container .backtop-link {
		 margin: 2% 0 0% 38%;
	}
}

@media screen and (max-width: 768px) {
	.roundHead .top-logo img {
		width: 318px;
		margin-top: -185px;
	}
	.roundHead{
		height: 223px;
	}
	#header .header-content {
		margin-top: 300px;
	}
	.home .info-link {
		margin-top: 82px;
		margin-left: 8px;
	}
	.card-img img {
		margin-left: 63px;
	}
	.btn-participate_768 .btn-primary {
		float: initial;
		margin-top: 20px;
	}
}
@media screen and (max-width: 425px) {
	.card-img img {
	    margin-left: 5px;
	}
	.about .team-headings h3 {
		font-size: 2.2rem;
	}
	.about .team-headings h2 {
		font-size: 4rem;
	}
	.info-container h3.info-title {
		font-size: 24px;
	}
	/*.info-container .close-link {
		margin: 50px 0 40px 120px;
	}*/
	.roundHead .top-logo img {
		margin-top: -110px;
    	width: 200px;
	}
	.roundHead{
		height: 198px;
	}
	#header .header-content {
		margin-top: 180px;
    margin-left: -55px;
	}
	#header .countdown {
		font: 3rem/4rem 'Century Gothic', sans-serif;
	}
	.countdown h1 {
		font-size: 34px;
	}
	.countdown {
		width: 116%;
	}
	#header .countdown #clock .counter-number {
		margin-top: 0.5rem;
		margin-right: 0.5rem;
		margin-left: 0.5rem;
		padding: 1rem 1.2rem;
		font-weight: 600;
	}
	.home .info-link {
		margin-top: 301px;
	}
}
@media screen and (max-width: 375px) {
	
	.about .team-headings h3 {
		font-size: 2rem;
	}
	.about .team-headings h2 {
		font-size: 3rem;
	}
	.info-container h3.info-title {
		font-size: 20px;
	}
	.home .info-link {
		margin-top: 301px;
	}
	.subscribe {
		margin-top: 120px;
		    margin-bottom: 120px;
	}
	.official img {
		position: absolute;
	    width: 8%;
    margin-top: -28%;
    margin-left: 3%;
	}
}

.submit-subscribe {
	text-transform: uppercase;
    border-radius: 5px;
    width: 80%;
    font-weight: 600;
    font-size: 18px;
    background: -webkit-linear-gradient(60deg, #ef1821 10%, #291859 90%);
    background: -moz-linear-gradient(60deg, #ef1821 10%, #291859 90%);
    background: -ms-linear-gradient(60deg, #ef1821 10%, #291859 90%);
    background: -o-linear-gradient(60deg, #ef1821 10%, #291859 90%);
    background: linear-gradient(60deg, #ef1821 10%, #291859 90%);
    border: none;
    padding: 10px 12px;
    margin-top: 4%;
    color: #ffffff;
}