/*--
	Define color for element below :
	1. Gradient overlay color
	2. Close info link hover color
	3. Service icon hover color
	4. Contact icon hover color
	5. Back to top link hover color
	6. Form and button hover color
--*/

/*-- ========== GRADIENT OVERLAY ============ --*/
.overlay{
  	/*background: -webkit-linear-gradient(60deg, #291859 10%, #ef1821 90%); /* Chrome 10+, Saf5.1+ *
  	background:    -moz-linear-gradient(60deg, #291859 10%, #ef1821 90%); /* FF3.6+ *
  	background:     -ms-linear-gradient(60deg, #291859 10%, #ef1821 90%); /* IE10 *
 	background:      -o-linear-gradient(60deg, #291859 10%, #ef1821 90%); /* Opera 11.10+ *
  	background:         linear-gradient(60deg, #291859 10%, #ef1821 90%); /* W3C **/

  	background: -webkit-linear-gradient(rgba(239, 24, 33, 0.75), rgba(41, 24, 89, 0.75)); /* Chrome 10+, Saf5.1+ */
  	background:    -moz-linear-gradient(rgba(239, 24, 33, 0.75), rgba(41, 24, 89, 0.75)); /* FF3.6+ */
  	background:     -ms-linear-gradient(rgba(239, 24, 33, 0.75), rgba(41, 24, 89, 0.75)); /* IE10 */
 	background:      -o-linear-gradient(rgba(239, 24, 33, 0.75), rgba(41, 24, 89, 0.75)); /* Opera 11.10+ */
  	background:         linear-gradient(rgba(239, 24, 33, 0.75), rgba(41, 24, 89, 0.75)); /* W3C */
}
/*-- ========== CLOSE INFO & BACK TO TOP ============ --*/
.info-container .hover-effect-1 a:hover:after,
.info-container .hover-effect-1 a:hover:before{
	background:#d94e67;
}
.info-container .close-link a:hover,
.info-container .backtop-link a:hover
{
	color:#d94e67;
}
/*-- ========== SERVICE & CONTACT ICON ============ --*/
.about .about-services .service-container:hover .services .name,
.about .about-services .service-container:hover .services .icon,
.contact-location .location-container:hover .location .icon,
.contact-location .location-container:hover .location .name
{
	color:#d94e67;
}
/*-- ========== FORM & BUTTON ============ --*/
button[type="submit"].submit-subscribe:hover{
	background:#d94e67;
	color:white;
}
button[type="submit"].submit-message:hover{
	background:#d94e67;
	color:white;
	border:1px solid #d94e67;
}
input[type="text"]:focus, textarea:focus{
	border-bottom:1px solid #d94e67;
}

